---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import BookingOverlay from "../components/booking/BookingOverlay.svelte";
import "@fontsource-variable/inter/index.css";

export interface Props {
  title?: string;
  description?: string;
}

const {
  title,
  description = "Pregnancy & Postnatal Video Consultations | birthdebrief.com"
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
const socialImage = new URL("/opengraph.jpg", Astro.site).toString();

const makeTitle = title
  ? `${title} | birthdebrief.com`
  : description;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#15803d" />
    
    <SEO
      title={makeTitle}
      description={description}
      canonical={canonicalURL}
      twitter={{
        creator: "@birthdebrief",
        site: "@birthdebrief",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: makeTitle,
          image: socialImage,
        },
        image: {
          alt: "Birthdebrief.com Homepage Screenshot",
        },
      }}
    />
  </head>
  <body class="bg-emerald-100 text-slate-900">
    <Navbar />
    <slot />
    <BookingOverlay client:load />
    <Footer />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>